<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f43e3708-c79a-419d-be6f-a6245f4e1726/resourcegroups/DEVELOPPEURS/providers/Microsoft.Web/sites/BoVoyageV3FredYoucef</ResourceId>
    <ResourceGroup>DEVELOPPEURS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bovoyagev3fredyoucef.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bovoyagev3fredyoucef.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BoVoyageV3FredYoucef</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BoVoyageV3FredYoucef</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BoVoyageV3ConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=poecgtm.database.windows.net,1433;Initial Catalog=Youcef;Persist Security Info=True;User ID=Youcef;Password=Poec2018Paris;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BoVoyageV3.Data.BoVoyageContext, BoVoyageV3" MigrationConfiguration="BoVoyageV3.Migrations.Configuration, BoVoyageV3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BoVoyageV3ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=poecgtm.database.windows.net,1433;Initial Catalog=Youcef;Persist Security Info=True;User ID=Youcef;Password=Poec2018Paris;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>