body {
    background-image: url(../IMG/2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.loginPage{
    background-image: url(../IMG/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.sidenav {
   
   /*  width: 200px;
    position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(11, 84, 99, 0.603);
    overflow-x: hidden;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    
}


.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
   /*  margin-left: 280px;  */
    /* margin-right: 50px;*/
    /* margin-top: 50px; */
    margin: 20px;
    font-size: 20px; 
    padding: 20px;
    width: auto;
    /* min-width:300px; */
    border-radius: 25px;
    background-color: rgba(11, 84, 99, 0.603);
    color:white;
}

/* Add an active class to the active dropdown button */
.active {
    border:2px solid black;
    border-radius: 10px;
    margin: 3px;
}


.dropdown-container {
    display: none;
    border:2px solid white;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.container-fluid {
    margin-top: 25px;
}

 
 .modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 2%;
    border: 1px solid #888;
    width: 100%;
    
    
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
.custom{
    float: right;
    margin-left: 20px;
}
.item{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 5px;


}
.item:hover{
    border: 3px solid black ;
   
      
}
